/* Root: */
/* Met de root kan je variabelen instellen wat betekent dat je minder dingen opnieuw moet coderen. */
:root {
    --clr-dark-red: rgb(58, 7, 7);
    --clr-light-red: rgb(168, 22, 22);
    --clr-white: rgb(215, 215, 215);
    --clr-selected: rgb(196, 41, 41);
    --clr-background: rgb(20, 20, 20);
}

/* Basis HTML tags: */

/* Hierdoor wordt bij elke nieuwe HTML tag deze code geplaatst behalve als je er iets anders inzet. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--clr-background);
    color: var(--clr-white);
}

p {
    font-style: fantasy, Arial;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 16px;
    color: var(--clr-white);
}

a {
    color: yellow;
}

a:hover {
    color: var(--clr-light-red);
}

/* Zorgt ervoor dat er geen x en y-scrollbars aanwezig zijn. */
#overflow-hidden {
    overflow: hidden;
}

/* Wrapper: */
/* Een wrapper kan je het best interpreteren als een body in een body. */
/* Deze wrapper wordt gebruikt voor een parallax scroll effect en een afbeelding die de achtergrond bedekt. */
div.wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    height: 92vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    perspective: 300px;
    top: 0;
}

div.wrapper .wrapper-background {
    top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: -999;
    transform-style: preserve-3d;
}


img.background-img {
    top: 0;
    position: absolute;
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 102%;
    z-index: -998;
    transform: translateZ(-300px) scale(2);
    transform-style: preserve-3d;
}

div.wrapper .wrapper-background .background-title {
    text-align: center;
    font-family: fantasy, Arial;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 100px;
    text-shadow: 0 5px 10px black;
    color: white;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

/* Vullen van de achtergrond */
#background-filler {
    background-color: var(--clr-background);
    height: 100%;
    width: 100%;
}

/* Normale titels: */
.title {
    font-family: fantasy, Arial;
    margin-left: 1rem;
    font-size: 40px;
    font-weight: lighter;
    color: var(--clr-light-red);
    padding-top: 10px;
}

.subtitle {
    font-family: fantasy, Arial;
    margin-left: 1rem;
    font-size: 25px;
    font-weight: lighter;
    color: var(--clr-light-red);
    padding-top: 10px;
}

/* Navigatie menu: */
header nav.nav-bar {
    position: relative;
    margin: 0;
    font-size: min(large, 24px);
    font-family: fantasy, Arial;
    font-weight: 500;
    background-color: var(--clr-dark-red);
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    width: 100%;
}

header nav.nav-bar ul {
    position: relative;
    text-align: center;
    margin: 0;
}

header nav.nav-bar ul li {
    padding: 0;
    margin-right: min(50px, 2rem);
    list-style: none;
    display: inline-block;
}

header nav.nav-bar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-white);
}

/* Onderlijn hover effect van het navigatiemenu */

header nav.nav-bar ul li a.selected {
    color: var(--clr-selected);
}

header nav.nav-bar ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(215, 215, 215);
    transition: border .15s ease-out;
}

header nav.nav-bar ul li a.selected:hover {
    border-color: var(--clr-selected);
}

/* Logo navigatie menu */
header nav.nav-bar ul li img {
    max-width: 30px;
}

header nav.nav-bar ul li a#nav-logo:hover {
    border: 0px;
}

/* Sociale menu: */
footer nav.socials-menu {
    background-color: rgb(15, 15, 15);
    border-top: 3px solid var(--clr-light-red);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer nav.socials-menu div.socials {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: minmax(150px, 3fr);
}

footer nav.socials-menu div.socials-box {
    margin: 20px;
    display: grid;
    place-items: center;
    font-size: 16px;
    font-family: fantasy, Arial;
    text-align: center;
}

/* Kleur veranderings effect van het socials menu */
footer nav.socials-menu div.socials-box:hover {
    color: var(--clr-light-red);
    transition: color .15s ease-out;
}

/* Titel van het socials menu */
footer nav.socials-menu .socials-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light-red);
    text-align: center;
    font-family: fantasy, Arial;
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 20px;
}

/* Logo's van het socials menu */
footer nav.socials-menu img.socials-logo {
    max-height: 64px;
    max-width: 64px;
}

/* Slideshow */
.img-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: min(1000px, 90%);
    top: 16rem;
}

.img-slider .slide {
    z-index: 1;
    position: absolute;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition-property: clip-path;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-slider .slide img {
    z-index: -997;
    width: min(1000px, 90%);
    border-radius: 5px;
}

.img-slider .slide .info {
    bottom: 200px;
    text-align: left;
    position: absolute;
}

.img-slider .slide .info h2 {
    color: var(--clr-white);
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .info p {
    color: var(--clr-white);
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    margin: 0
}

.img-slider .slide .info a:hover {
    color: var(--clr-light-red);
}

.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 20rem;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn:hover {
    background: rgba(255, 255, 255, 0.75);
}

.img-slider .navigation .btn.active {
    background: var(--clr-light-red);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Mobile nav-bar */

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 13%;
    cursor: pointer;
    display: none;
    padding: 1.2vh;
}

#check {
    display: none;
}

/* Media */

@media only screen and (max-width: 700px) {

    .checkbtn {
        display: block;
    }

    header nav.nav-bar {
        margin: 0;
        height: 0;
        padding: 0;
        border: 0;
    }

    header nav.nav-bar ul {
        position: fixed;
        text-align: left;
        margin: 0;
        top: 48.5px;
        left: 100%;
        padding: 10px;
        border: 0;
        transition: all 0.5s;
        z-index: 999;
    }

    header nav.nav-bar ul li {
        text-align: left;
        margin-top: 10px;
        line-height: 20px;
    }

    header nav.nav-bar ul li a:hover {
        border: 0;
    }

    header nav.nav-bar ul li:hover {
        padding-left: 1rem;
    }

    header nav.nav-bar ul li a {
        padding-right: 1000px;
    }

    #check:checked~ul {
        left: 70%;
        transition: all 0.5s;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (max-width: 475px) {
    div.wrapper {
        height: 85vh;
    }

    #check:checked~ul {
        left: 55%;
    }

    footer nav.socials-menu {
        padding-bottom: 15px;
    }

    div.wrapper .wrapper-background .background-title {
        font-size: 70px;
    }
}